# Shared environment variables used across all services
GEMINI_API_KEY=your_api_key_here
APP_FRONTEND_URL=frontend url here
APP_SCHEME_ENGINE_BASE_URL=scheme engine base url here
APP_SCHEME_ENGINE_VECTOR_SEARCH_ENDPOINT=scheme engine vector search endpoint here
APP_SCHEME_ENGINE_CONNECT_TIMEOUT_MS=connect timeout in milliseconds here
APP_SCHEME_ENGINE_READ_TIMEOUT_MS=read timeout in milliseconds here
AZURE_SPEECH_KEY=your_azure_speech_subscription_key_here
AZURE_SPEECH_REGION=centralindia
